body {
  font-family: sans-serif;
}

.wrapper {
  width: 700px;
  margin: 0 auto 20px;
}

.hidden {
  display: none !important;
}

.flex-outer {
  padding: 0;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 0;
}

.flex-outer>li>label, .flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer>li>label+* {
  flex: 1 0 220px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

#errorMessage {
  background-color: #ffd5e1;
  border: 2px solid red;
}

#loadingMessage {
  color: #888;
}

#board {
  width: auto;
  margin: 20px auto;
  border: 1px solid black;
  font-size: 1.2em;
  text-transform: uppercase;
  border-collapse: collapse;
}

#board td {
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  border: 1px solid white;
}

#answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#answers li {
  display: inline;
  list-style: none;
  padding: 0 10px;
}

/* Toggles */

body.hideadvanced .advancedcontrol {
  display: none !important;
}

body.showborders #board td {
  border: 1px solid black;
}

body.showhints .solutionchar {
  background-color: yellow;
  border-color: orange !important;
}

body.uselowercase #board {
  text-transform: lowercase;
}

/* Media types */

@media print {
  body {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #title, #options, #errorMessage {
    display: none;
  }
  .wrapper {
    width: auto;
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: auto;
    padding: 0 10px;
  }
}
